@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #09090b;
  color: white;
  margin: 0;
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: floating 4s ease-in-out infinite;
}